@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.municipio, .grafico-titulo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
}

.municipio {
    font-size: 24px;
    margin: 15px 0;
    background-color: #f0f0f0;
    border-radius: 8px;
}

.fatos {
    margin-top: 20px;
    background-color: #f5f5f5;
    border-radius: 9px;
    padding: 10px;
}

.fato, .numero {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 5px 0;
}

.fato {
    font-weight: 700;
}

.grafico-estatico, .evolucao {
    width: 100%;
    margin: auto;
}

@media (max-width: 768px) {
    .header, .content {
        width: 90%;
        margin: auto;
    }

    .fato, .numero {
        text-align: center;
    }

    .fatos {
        margin: auto;
    }
}

@media (min-width: 768px) {
    .header, .content {
        width: 80%;
        margin: auto;
    }

    .municipio {
        font-size: 30px;
    }

    .grafico-estatico {
        width: 80%;
        display: block;
        margin: auto;
    }

    .fatos, .evolucao {
        width: 49%;
    }

    .card {
        display: flex;
        width: fit-content;
        margin: 0 auto;
    }
    
    .card .fatos {
        margin-right: 2.5px;
    }
    
    .card .evolucao {
        margin-left: 2.5px;
    }
    
    .fatos, .evolucao {
        display: inline-block;
        box-sizing: border-box;
    }

}